<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>

<FilesMatch "\.(mp4|mov|avi|wav|mp3|ogg|jpe?g|png|gif)$">
    ForceType application/octet-stream
    Header set Content-Disposition attachment
</FilesMatch>


